#container-principal{
	background-image: url("imgs/fundo2.jpg");
	background-size: cover;
	height: 700px;
	font-family: 'Roboto Condensed', sans-serif;	
}
.container{
	padding-top:20px;
}
.container-content{
	padding-top:20px;
	display: flex;
	position: relative;
	justify-content: center;
	margin-top: 30px;
}
.container #pc-texto{
	padding-top: 40px;
}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition:all 0.3s ease;
}
.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}
.menu a{
	position: relative;
	display: inline;
	float: right;
	margin: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
	 -moz-transform: scale(1.23, 1);
  -webkit-transform: scale(1.23, 1);
  -ms-transform: scale(1.23, 1);

}
.menu ul li{
	display: inline;
	text-decoration: none;
	color: #fff;
}
.menu .ativo{
	border-bottom: 2px solid #4dffb8;
	text-decoration: none;
}
.menu ul li:hover{
	border: none;
	color: #4dffb8;
}
#pc{
left: 982px;
top: 311px;
width: 500px;
height: 340px;
z-index: 16;
margin-left: 25px;
}
.text-box{
	margin: 50px 25px 0 0;
}
#texto-home{
	position: relative;
	font-size: 70px;
	text-align: right;
  	font-style: italic;
	color: #FFF;
	margin-right:25px;
	-webkit-transform: scale(1.23, 1); 
	/*
	-moz-transform: scale(1.23, 1);
  	-webkit-transform: scale(1.23, 1);
	-ms-transform: scale(1.23, 1);	
	*/
}
.batalha{
	font-size: 70px;
	 color: #fff;
	 position: relative;
}
.text-green{
	color: #00CC99;
}
.comeca{
	text-align: center;
	font-size: 22pt;
	margin: 10px 0 0 10px;
	position: relative;
}

.agora{
	position: relative;
	font-weight: 700;
	font-size: 60px;
	color: #00CC99;
	display: inline-block;
	margin-top: -20px;
}
.exc{
	margin-top: 25px;
	font-size: 90px;
	color: #fff;
}

.texto-rodape{
	margin-top: 30px;
	text-align: center;
	color: #fff;
	font-size: 18pt;
	font-style: italic;
}

.esports-text{
	font-size: 22pt;
	color: #ff6600;
}

#btn-projeto{
	margin-left: 50px;
	margin-top: 10px;
	display: flex;
	position: relative;
	border: none;
	padding: 10px;
	color: #fff;
	font-size: 18pt;
	font-style: italic;
	background-color: #00CC99;
}

#btn-box :hover{
	border: none;
	background-color: #006666;
}


#btn-text{
	margin-top: 5px;
	margin-left: 5px;
}



@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}





