#container-principal{
	background-image: url("imgs/fundo2.jpg");
	background-size: cover;
	height: 700px;

	font-family: 'Roboto Condensed', sans-serif;
	

}

body{

}
.container{
	padding-top:20px;
 
}
.container #pc-texto{
	padding-top: 40px;
	
}

.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition:all 0.3s ease;
}

.fadeIn {
-webkit-animation: fadeIn 2s ease-in-out;
-moz-animation: fadeIn 2s ease-in-out;
-o-animation: fadeIn 2s ease-in-out;
animation: fadeIn 2s ease-in-out;
}



.menu a{
	position: relative;
	display: inline;
	float: right;
	margin: 20px;
	margin-top: 20px;
	font-size: 20px;
	font-style: italic;
	text-decoration: none;
	 -moz-transform: scale(1.23, 1);
  -webkit-transform: scale(1.23, 1);
  -ms-transform: scale(1.23, 1);

}


.menu ul li{
	display: inline;
	text-decoration: none;
	color: #fff;
}
.menu .ativo{
	border-bottom: 2px solid #4dffb8;
	text-decoration: none;
}


.menu ul li:hover{
	border: none;
	color: #4dffb8;

}

#pc{
  left: 982px;
  top: 311px;
  width: 502px;
  height: 343px;
  z-index: 16;



}

#texto-home{
	 padding-top: 55px;
	 padding-right: 65px;
	 font-size: 50px;
	 text-align: right;
	 left: 281.661px;
  	 top: 313.4px;
  	 font-style: italic;
  	 color: #FFF;
  	  -moz-transform: scale(1.23, 1);
  	-webkit-transform: scale(1.23, 1);
  	-ms-transform: scale(1.23, 1);
  	
}
}
#batalha{
	font-size: 50px;
	 color: #00CC99;

}

#comeca{
	padding-right: 100px;
	text-align: center;
	font-size: 30px;
}

#agora{
	font-size: 50px;
	 color: #00CC99;
}

#exc{
	margin-top: 25px;
	font-size: 80px;
}


@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
0% { opacity: 0;}
100% { opacity: 1; }
}
@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}




